body {
    background-color: #f6f7fb !important;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.sidebar {
    background-color: #404e67 !important;
}

.sidebar .nav-link.active {
    color: #007bff;
}
.sidebar .nav-link {
    font-weight: 500;
    color: #fff;
}

.breadcrumb-item {
    float: left;
}

.main-body .page-wrapper {
    padding: 1.8rem;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}

.main-body .page-wrapper .page-heading {
    margin-bottom: 30px;
}

.main-body .page-wrapper .page-header-breadcrumb {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: right;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.card-block {
    padding: 1.25rem;
}

.card .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 25px 20px;
}

.form-wrapper {
    margin: 0 auto;
    outline: none;
    padding: 20px 15px 40px 15px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.form-wrapper form {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f9fafd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.54);
    line-height: 1;
    position: relative;
}

.form-wrapper .form-content {
    padding: 25px 25px 0;
}

.form-wrapper .form-footer {
    background-color: #fff;
    border-top: 1px dashed #01a9ac;
    padding: 20px 25px;
    position: inherit;
}

.form-wrapper .form-footer button,
.form-wrapper .form-footer a {
}
