body {
  background-color: #f6f7fb !important;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
}

[role="main"] {
  padding-top: 56px;
}

.main-body .page-wrapper {
  padding: 1.8rem;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.main-body .page-wrapper .page-heading {
  margin-bottom: 30px;
}

.main-body .page-wrapper .page-header-breadcrumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
}

.breadcrumb-item {
  float: left;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.card .card-block {
  padding: 1.25rem;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 20px;
}

.form-wrapper {
  margin: 0 auto;
  outline: none;
  padding: 20px 15px 40px 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.form-wrapper form {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f9fafd;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1;
  position: relative;
}

.form-wrapper .form-content {
  padding: 25px 25px 0;
}

.form-wrapper .form-footer {
  background-color: #fff;
  border-top: 1px dashed #01a9ac;
  padding: 20px 25px;
  position: inherit;
}

.form-control {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.form-control:focus {
  border: 1px solid #01a9ac;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  border-radius: 2px;
}

.login-block .auth-login {
  margin: 20px auto 0 auto;
  max-width: 450px;
}

.login-block .form-wrapper form {
  border: none;
  background-color: transparent;
}

.login-block .card .card-block .checkbox {
  display: inline-block;
}

.profile-bg-img {
  width: 100%;
}

.cover-profile .profile-bg-img {
  margin-bottom: 25px;
}

.profile-image img {
  border: 4px solid #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card-block.user-info {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.card-block {
  padding: 1.25rem;
}

.user-info .media-body,
.user-info .media-left {
  display: table-cell;
  vertical-align: middle;
}

.media-left {
  padding-right: 20px;
}

.user-title {
  position: relative;
  bottom: 20px;
}

.user-title h2 {
  color: #fff;
}

.cover-btn {
  bottom: 38px;
  right: 35px;
  position: absolute;
}

.pull-right {
  float: right;
}

.md-tabs {
  position: relative;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs.md-tabs.tab-timeline li a {
  padding: 20px 0 10px;
  color: #404e67;
  font-size: 16px;
}

.md-tabs .nav-item {
  width: calc(100% / 2);
  text-align: center;
}

.nav-tabs .slide {
  background: #01a9ac;
  width: calc(100% / 2);
  height: 4px;
  position: absolute;
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
  bottom: 0;
}

.navbar-container {
  background: #fff;
}

.header-navbar .navbar-logo {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  height: 56px;
  text-align: center;
  text-transform: uppercase;
  width: 240px;
  padding: 10px;
}

.img-logo {
  height: 40px;
}

.header-navbar .navbar-logo a {
  color: #fff;
}

.header-navbar .navbar-logo .mobile-options {
  display: none;
}

.header-navbar .navbar-logo .mobile-menu {
  position: absolute;
  right: 5px;
  top: calc(50% - 20px);
  border-radius: 50%;
  padding: 5px 9px;
  font-size: 20px;
}

.header-navbar .navbar-container .nav-left,
.header-navbar .navbar-container .nav-right {
  float: left;
  margin-bottom: 0;
}

.header-navbar .header-search {
  line-height: 0.8;
}

.header-navbar .navbar-container .nav-right .user-profile img {
  margin-right: 10px;
  width: 30px;
}

.header-navbar .header-search .main-search .input-group .input-group-addon {
  padding: 0.45rem 0.75rem 0.3rem 0;
  background-color: transparent;
  color: #353c4e;
  border: none;
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.header-navbar .header-search .main-search .input-group .form-control {
  height: 27.98px;
}

.header-navbar .navbar-container .nav-left li > a,
.header-navbar .navbar-container .nav-right li > a {
  font-size: 16px;
  color: #404e67;
}

.header-navbar .navbar-container .nav-left a,
.header-navbar .navbar-container .nav-right a {
  padding: 0 0.6rem;
}

.img-radius {
  border-radius: 50%;
}

/* top search bar */

.header-navbar
.header-search
.main-search
.input-group
.input-group-addon.search-close {
  padding: 0.3rem 0 0.3rem 0.75rem;
  display: none;
}

.header-navbar .header-search .main-search {
  padding: 13px 0;
  display: block;
}

.header-navbar
.header-search
.main-search.open
.input-group
.input-group-addon.search-close {
  display: block;
}

.header-navbar .header-search .main-search.open .input-group .form-control {
  display: block;
}

.header-navbar .header-search .main-search .input-group .form-control {
  padding: 0.3rem 0.75rem;
  width: 0;
  border: none;
  color: #353c4e;
  background-color: transparent;
}

.header-navbar .header-search .main-search.open .input-group {
  background-color: #dcdcdc;
}

.header-navbar .header-search .main-search .input-group {
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 20px;
}

/* end search bar */

.sidebar ul.submenu {
  display: none;
}

.side-icon {
  font-size: 16px;
  padding: 4px;
  margin-right: 5px;
  width: 23px;
  display: inline-block;
  height: 26px;
  text-align: center;
}

.sidebar {
  padding: 56px 0 0;
  background-color: #404e67 !important;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
}

/* start submenu */

.sidebar-sticky ul.nav li.hasmenu > a:after {
  color: #dcdcdc;
  content: "\E844";
}

.sidebar-sticky ul.nav li.hasmenu > a:after {
  float: right;
  font-style: normal;
  margin-left: 3px;
  font-size: 14px;
  position: absolute;
  right: 15px;
  font-family: "feather";
  padding-top: 5px;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link {
  padding-left: 30px;
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link:before {
  border-bottom-color: #dcdcdc;
  content: "\E844";
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link:before {
  font-style: normal;
  padding-right: 4px;
  font-size: 10px;
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  font-family: "feather";
  font-size: 12px;
  padding-right: 5px;
}

/* end submenu */

/* start profile notification */

.header-navbar .navbar-container .header-notification .dropdown-toggle::after {
  display: none;
}

.header-navbar .navbar-container .header-notification .show-notification:after,
.header-navbar
.navbar-container
.header-notification
.profile-notification:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 10px solid #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
}

.header-navbar .navbar-container .header-notification .show-notification li img,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li
img {
  width: 40px;
  margin-right: 10px;
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.header-navbar .navbar-container .header-notification .show-notification,
.header-navbar .navbar-container .header-notification .profile-notification {
  background: #fff;
  -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 24rem;
  right: -15px;
  top: 75px;
  left: auto;
  overflow: visible;
  border: none;
}

.header-navbar .navbar-container .header-notification .profile-notification {
  width: 15em;
}

.header-navbar .navbar-container .nav-right .dropdown-toggle > .badge {
  position: absolute;
  top: 8px;
  right: -8px;
  border-radius: 50%;
}

.header-navbar .navbar-container .header-notification .show-notification li,
.header-navbar .navbar-container .header-notification .profile-notification li {
  border-top: 1px solid #01a9ac, #fe9365, #e0e0e0, #fe5d70, #0ac282, #404e67, #2dcee3;
  line-height: initial;
  padding: 1em 20px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
li:first-child,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li:first-child {
  padding: 10px 20px;
}

.header-navbar
.navbar-container
.header-notification
.profile-notification
li:first-child {
  padding: 0.7em 20px;
}

.header-navbar .navbar-container .header-notification .profile-notification li {
  border-top: none;
  padding: 0.7em 20px;
}

.header-navbar .navbar-container .nav-right li {
  padding: 0 20px;
}

.header-navbar .navbar-container .nav-left li,
.header-navbar .navbar-container .nav-right li {
  float: left;
  line-height: 3.5;
  padding: 0 10px;
  position: relative;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
li:hover,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li:hover {
  background-color: #f1f1f1;
}

.header-navbar .navbar-container .header-notification .show-notification a,
.header-navbar .navbar-container .header-notification .profile-notification a {
  color: #666;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
a:hover,
.header-navbar
.navbar-container
.header-notification
.profile-notification
a:hover {
  text-decoration: none;
}

/* end profile notification */

/* start notification */

.header-navbar
.navbar-container
.header-notification
.show-notification.notification-view
li:first-child:hover,
.header-navbar
.navbar-container
.header-notification
.notification-view.profile-notification
li:first-child:hover {
  background-color: transparent;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
li:first-child
h6,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li:first-child
h6 {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
li:first-child
label,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li:first-child
label {
  float: right;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
.notification-user,
.header-navbar
.navbar-container
.header-notification
.profile-notification
.notification-user {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
.notification-msg,
.header-navbar
.navbar-container
.header-notification
.profile-notification
.notification-msg {
  margin-bottom: 5px;
  font-size: 13px;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
.notification-time,
.header-navbar
.navbar-container
.header-notification
.profile-notification
.notification-time {
  font-size: 12px;
  color: #919aa3;
}

/* end notification */

@media only screen and (max-width: 992px) {
  .header-navbar .navbar-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-navbar .navbar-logo {
    width: 100% !important;
  }

  .header-navbar .navbar-container {
    margin-left: 0;
  }
}

