body {
  font-size: 0.875rem;
  background-color: #f6f7fb !important;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
}

.img-logo {
  height: 40px;
}

.img-radius {
  border-radius: 50%;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar-offcanvass {
  margin-left: -240px;
}

.sidebar-offcanvass + .main-content {
  margin-left: 0px !important;
}

.main-container {
  margin-top: 56px;
}

.main-container .main-wrapper .sidebar {
  width: 240px;
}

.main-container .main-wrapper .main-content {
  margin-left: 240px;
}

.main-body .page-wrapper {
  padding: 1.8rem;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.main-body .page-wrapper .page-heading {
  margin-bottom: 30px;
}

.main-body .page-wrapper .page-header-breadcrumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
}

.breadcrumb-item {
  float: left;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.card .card-block {
  padding: 1.25rem;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 20px;
}

.card .card-header h1,
.card .card-header h2,
.card .card-header h3,
.card .card-header h4,
.card .card-header h5 {
  margin-bottom: 0;
  color: #505458;
  display: inline-block;
  margin-right: 10px;
}

table.dataTable {
  border-collapse: collapse !important;
}

.dataTables_paginate .pagination {
  float: right;
}

.jFiler-input-dragDrop {
  width: 100%;
}

.jFiler-input-choose-btn {
  color: #fff;
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-info {
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 6px 10px;
  z-index: 9;
  opacity: 0;
  -webkit-transition: all 0.12s;
  transition: all 0.12s;
}

.form-wrapper {
  margin: 0 auto;
  outline: none;
  padding: 20px 15px 40px 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.form-wrapper form {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f9fafd;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1;
  position: relative;
}

.form-wrapper .form-content {
  padding: 25px 25px 0;
}

.form-wrapper .form-footer {
  background-color: #fff;
  border-top: 1px dashed #01a9ac;
  padding: 20px 25px;
  position: inherit;
}

.form-control {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.form-control:focus {
  border: 1px solid #01a9ac;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  border-radius: 2px;
}

.login-block .auth-login {
  margin: 20px auto 0 auto;
  max-width: 450px;
}

.login-block .auth-registration {
  margin: 20px auto 0 auto;
  max-width: 700px;
}

.login-block .form-wrapper form {
  border: none;
  background-color: transparent;
}

.login-block .card .card-block .checkbox {
  display: inline-block;
}

.profile-bg-img {
  width: 100%;
}

.cover-profile .profile-bg-img {
  margin-bottom: 25px;
}

.profile-image img {
  border: 4px solid #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card-block {
  padding: 1.25rem;
}

.card-block.user-info {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.user-info .media-body,
.user-info .media-left {
  display: table-cell;
  vertical-align: middle;
}

.media-left {
  padding-right: 20px;
}

.user-title {
  position: relative;
  bottom: 20px;
}

.user-title h2 {
  color: #fff;
}

.cover-btn {
  bottom: 38px;
  right: 35px;
  position: absolute;
}

.pull-right {
  float: right;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.nav-tabs .nav-item {
  border: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.nav-tabs .nav-item .nav-link {
  border: none;
  padding: 20px 0;
  color: #404e67;
  font-size: 16px;
}

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:hover {
  color: #01a9ac !important;
  border: none;
}

.nav-tabs .nav-item .slide {
  background: #01a9ac;
  height: 4px;
  position: absolute;
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
  bottom: 0;
}

.md-tabs .nav-item .nav-link.active ~ .slide {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header-navbar {
  min-height: 56px;
}

.header-navbar .navbar-wrapper {
  width: 100%;
  background-color: #fff;
}

.header-navbar .navbar-wrapper .navbar-logo {
  background-color: #404e67;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  height: 56px;
  text-align: center;
  text-transform: uppercase;
  width: 240px;
  padding: 10px;
}

.header-navbar .navbar-wrapper .navbar-logo a {
  color: #fff;
}

.header-navbar .navbar-wrapper .navbar-logo .mobile-options {
  display: none;
}

.header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
  position: absolute;
  right: 5px;
  top: calc(50% - 20px);
  border-radius: 50%;
  padding: 5px 9px;
  font-size: 20px;
}

.header-navbar .navbar-wrapper .navbar-container {
  background: #fff;
}

.header-navbar .navbar-wrapper .navbar-container ul li > a {
  font-size: 16px;
  color: #404e67;
  padding: 0 0.6rem;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left {
  float: left;
  margin-bottom: 0;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search {
  line-height: 0.8;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search .main-search {
  padding: 13px 0;
  display: block;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search .main-search .input-group {
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 20px;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search .main-search .input-group .form-control {
  height: 27.98px;
  padding: 0.3rem 0.75rem;
  width: 0;
  border: none;
  color: #353c4e;
  background-color: transparent;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search .main-search .input-group .input-group-addon {
  padding: 0.45rem 0.75rem 0.3rem 0;
  background-color: transparent;
  color: #353c4e;
  border: none;
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search .main-search .input-group .input-group-addon.search-close {
  padding: 0.3rem 0 0.3rem 0.75rem;
  display: none;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search .main-search.open .input-group {
  background-color: #dcdcdc;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search .main-search.open .input-group .input-group-addon.search-close {
  display: block;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left .header-search .main-search.open .input-group .form-control {
  display: block;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right {
  float: right;
  margin-bottom: 0;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right li {
  padding: 0 20px;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile img {
  margin-right: 10px;
  width: 30px;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .dropdown-toggle > .badge {
  position: absolute;
  top: 8px;
  right: -8px;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .dropdown-toggle::after {
  display: none;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .show-notification,
.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .profile-notification {
  background: #fff;
  -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 24rem;
  right: -15px;
  top: 75px;
  left: auto;
  overflow: visible;
  border: none;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .show-notification li,
.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .profile-notification li {
  line-height: initial;
  padding: 1em 20px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .show-notification li img,
.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .profile-notification li img {
  width: 40px;
  margin-right: 10px;
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .profile-notification {
  width: 15em;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .show-notification:after,
.header-navbar .navbar-wrapper .navbar-container .nav-right .header-notification .profile-notification:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 10px solid #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
}

.side-icon {
  font-size: 16px;
  padding: 4px;
  margin-right: 5px;
  width: 23px;
  display: inline-block;
  height: 26px;
  text-align: center;
}

.sidebar {
  padding: 56px 0 0;
  background-color: #404e67 !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* start submenu */

.sidebar-sticky ul.nav li.hasmenu > a:after {
  color: #dcdcdc;
  content: "\E844";
}

.sidebar-sticky ul.nav li.hasmenu > a.active:after {
  color: #dcdcdc;
  content: "\E842";
}

.sidebar-sticky ul.nav li.hasmenu > a:after {
  float: right;
  font-style: normal;
  margin-left: 3px;
  font-size: 14px;
  position: absolute;
  right: 15px;
  font-family: "feather";
  padding-top: 5px;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link {
  padding-left: 30px;
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link:before {
  border-bottom-color: #dcdcdc;
  content: "\E844";
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link:before {
  font-style: normal;
  padding-right: 4px;
  font-size: 10px;
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  font-family: "feather";
  font-size: 12px;
  padding-right: 5px;
}

/* end submenu */

/* start profile notification */

.header-navbar
.navbar-container
.header-notification
.show-notification
li:first-child,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li:first-child {
  padding: 10px 20px;
}

.header-navbar
.navbar-container
.header-notification
.profile-notification
li:first-child {
  padding: 0.7em 20px;
}

.header-navbar .navbar-container .header-notification .profile-notification li {
  border-top: none;
  padding: 0.7em 20px;
}

.header-navbar .navbar-container .nav-right li {
  padding: 0 20px;
}

.header-navbar .navbar-container .nav-left li,
.header-navbar .navbar-container .nav-right li {
  float: left;
  line-height: 3.5;
  padding: 0 10px;
  position: relative;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
li:hover,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li:hover {
  background-color: #f1f1f1;
}

.header-navbar .navbar-container .header-notification .show-notification a,
.header-navbar .navbar-container .header-notification .profile-notification a {
  color: #666;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
a:hover,
.header-navbar
.navbar-container
.header-notification
.profile-notification
a:hover {
  text-decoration: none;
}

/* end profile notification */

/* start notification */

.header-navbar
.navbar-container
.header-notification
.show-notification.notification-view
li:first-child:hover,
.header-navbar
.navbar-container
.header-notification
.notification-view.profile-notification
li:first-child:hover {
  background-color: transparent;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
li:first-child
h6,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li:first-child
h6 {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
li:first-child
label,
.header-navbar
.navbar-container
.header-notification
.profile-notification
li:first-child
label {
  float: right;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
.notification-user,
.header-navbar
.navbar-container
.header-notification
.profile-notification
.notification-user {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
.notification-msg,
.header-navbar
.navbar-container
.header-notification
.profile-notification
.notification-msg {
  margin-bottom: 5px;
  font-size: 13px;
}

.header-navbar
.navbar-container
.header-notification
.show-notification
.notification-time,
.header-navbar
.navbar-container
.header-notification
.profile-notification
.notification-time {
  font-size: 12px;
  color: #919aa3;
}

/* end notification */

@media only screen and (max-width: 992px) {
  .header-navbar .navbar-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100% !important;
  }

  .header-navbar .navbar-container {
    margin-left: 0;
  }
}

