// Login Form
.login-block {
    .auth-login {
        margin: 20px auto 0 auto;
        max-width: 450px;
    }
}

.login-block .form-wrapper form {
    border: none;
    background-color: transparent;
}

.login-block .card .card-block .checkbox {
    display: inline-block;
}
