/* start profile notification */

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    li:first-child,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:first-child {
    padding: 10px 20px;
}

.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:first-child {
    padding: 0.7em 20px;
}

.header-navbar .navbar-container .header-notification .profile-notification li {
    border-top: none;
    padding: 0.7em 20px;
}

.header-navbar .navbar-container .nav-right li {
    padding: 0 20px;
}

.header-navbar .navbar-container .nav-left li,
.header-navbar .navbar-container .nav-right li {
    float: left;
    line-height: 3.5;
    padding: 0 10px;
    position: relative;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    li:hover,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:hover {
    background-color: #f1f1f1;
}

.header-navbar .navbar-container .header-notification .show-notification a,
.header-navbar .navbar-container .header-notification .profile-notification a {
    color: #666;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    a:hover,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    a:hover {
    text-decoration: none;
}
/* end profile notification */

/* start notification */

.header-navbar
    .navbar-container
    .header-notification
    .show-notification.notification-view
    li:first-child:hover,
.header-navbar
    .navbar-container
    .header-notification
    .notification-view.profile-notification
    li:first-child:hover {
    background-color: transparent;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    li:first-child
    h6,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:first-child
    h6 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    li:first-child
    label,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:first-child
    label {
    float: right;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    .notification-user,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    .notification-user {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    .notification-msg,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    .notification-msg {
    margin-bottom: 5px;
    font-size: 13px;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    .notification-time,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    .notification-time {
    font-size: 12px;
    color: #919aa3;
}

/* end notification */

@media only screen and (max-width: 992px) {
    .header-navbar .navbar-logo {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100% !important;
    }

    .header-navbar .navbar-container {
        margin-left: 0;
    }
}
