/* start profile notification */

.header-navbar .navbar-container .header-notification .dropdown-toggle::after {
    display: none;
}

.header-navbar .navbar-container .header-notification .show-notification:after,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 10px solid #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
    box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
}

.header-navbar .navbar-container .header-notification .show-notification li img,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li
    img {
    width: 40px;
    margin-right: 10px;
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}

.header-navbar .navbar-container .header-notification .show-notification,
.header-navbar .navbar-container .header-notification .profile-notification {
    background: #fff;
    -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 24rem;
    right: -15px;
    top: 75px;
    left: auto;
    overflow: visible;
    border: none;
}

.header-navbar .navbar-container .header-notification .profile-notification {
    width: 15em;
}

.header-navbar .navbar-container .nav-right .dropdown-toggle > .badge {
    position: absolute;
    top: 8px;
    right: -8px;
    border-radius: 50%;
}

.header-navbar .navbar-container .header-notification .show-notification li,
.header-navbar .navbar-container .header-notification .profile-notification li {
    border-top: 1px solid #01a9ac, #fe9365, #e0e0e0, #fe5d70, #0ac282, #404e67,
        #2dcee3;
    line-height: initial;
    padding: 1em 20px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    li:first-child,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:first-child {
    padding: 10px 20px;
}

.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:first-child {
    padding: 0.7em 20px;
}

.header-navbar .navbar-container .header-notification .profile-notification li {
    border-top: none;
    padding: 0.7em 20px;
}

.header-navbar .navbar-container .nav-right li {
    padding: 0 20px;
}

.header-navbar .navbar-container .nav-left li,
.header-navbar .navbar-container .nav-right li {
    float: left;
    line-height: 3.5;
    padding: 0 10px;
    position: relative;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    li:hover,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:hover {
    background-color: #f1f1f1;
}

.header-navbar .navbar-container .header-notification .show-notification a,
.header-navbar .navbar-container .header-notification .profile-notification a {
    color: #666;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    a:hover,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    a:hover {
    text-decoration: none;
}
/* end profile notification */

/* start notification */

.header-navbar
    .navbar-container
    .header-notification
    .show-notification.notification-view
    li:first-child:hover,
.header-navbar
    .navbar-container
    .header-notification
    .notification-view.profile-notification
    li:first-child:hover {
    background-color: transparent;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    li:first-child
    h6,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:first-child
    h6 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    li:first-child
    label,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    li:first-child
    label {
    float: right;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    .notification-user,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    .notification-user {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    .notification-msg,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    .notification-msg {
    margin-bottom: 5px;
    font-size: 13px;
}

.header-navbar
    .navbar-container
    .header-notification
    .show-notification
    .notification-time,
.header-navbar
    .navbar-container
    .header-notification
    .profile-notification
    .notification-time {
    font-size: 12px;
    color: #919aa3;
}

/* end notification */

@media only screen and (max-width: 992px) {
    .header-navbar .navbar-logo {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .header-navbar .navbar-logo {
        width: 100% !important;
    }

    .header-navbar .navbar-container {
        margin-left: 0;
    }
}
