.side-icon {
    font-size: 16px;
    padding: 4px;
    margin-right: 5px;
    width: 23px;
    display: inline-block;
    height: 26px;
    text-align: center;
}

.sidebar {
    padding: 56px 0 0;
    background-color: #404e67 !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);

    .nav-link.active {
        color: #007bff;
    }

    .nav-link {
        font-weight: 500;
        color: #fff;

        .feather {
            margin-right: 4px;
        }
    }

    .nav-link:hover .feather,
    .nav-link.active .feather {
        color: inherit;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

    ul.nav {
    }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/* start submenu */

.sidebar-sticky ul.nav li.hasmenu > a:after {
    color: #dcdcdc;
    content: "\e844";
}

.sidebar-sticky ul.nav li.hasmenu > a.active:after {
    color: #dcdcdc;
    content: "\e842";
}

.sidebar-sticky ul.nav li.hasmenu > a:after {
    float: right;
    font-style: normal;
    margin-left: 3px;
    font-size: 14px;
    position: absolute;
    right: 15px;
    font-family: "feather";
    padding-top: 5px;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link {
    padding-left: 30px;
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link:before {
    border-bottom-color: #dcdcdc;
    content: "\e844";
}

.sidebar-sticky ul.nav .nav-item ul.menu li.nav-item .nav-link:before {
    font-style: normal;
    padding-right: 4px;
    font-size: 10px;
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    font-family: "feather";
    font-size: 12px;
    padding-right: 5px;
}

/* end submenu */
