// Main

body {
    font-size: 0.875rem;
    background-color: #f6f7fb !important;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

a,
a:hover {
    text-decoration: none;
}

.img-logo {
    height: 40px;
}

.img-radius {
    border-radius: 50%;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

// off canvass sidebar
.sidebar-offcanvass {
    margin-left: -240px;

    + .main-content {
        margin-left: 0px !important;
    }
}

.main-container {
    margin-top: 56px;

    .main-wrapper {
        .sidebar {
            width: 240px;
        }
        .main-content {
            margin-left: 240px;
        }
    }
}

.main-body {
    .page-wrapper {
        padding: 1.8rem;
        -webkit-transition: all ease-in 0.3s;
        transition: all ease-in 0.3s;

        .page-heading {
            margin-bottom: 30px;
        }

        .page-header-breadcrumb {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            float: right;
        }
    }
}

// Breadcrumb
.breadcrumb-item {
    float: left;
}

// Card
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;

    .card-block {
        padding: 1.25rem;
    }

    .card-header {
        background-color: transparent;
        border-bottom: none;
        padding: 25px 20px;
    }
}

// File Upload
.jFiler-input-dragDrop {
    width: 100%;
}
.jFiler-input-choose-btn {
    color: #fff;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-info {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 6px 10px;
    z-index: 9;
    opacity: 0;
    -webkit-transition: all 0.12s;
    transition: all 0.12s;
}

// Form
@import "forms";

// Auth
@import "auth";

// User
@import "user";

// Tabs
@import "tabs";

// Top Navbar
@import "topnavbar";

// Sidebar
@import "sidebar";

// Menu
@import "menu";

// Notification
@import "notification";
